# Pandas basics

In [ ]:
###

In [4]:
!pip install --quiet pandas

In [2]:
import pandas as pd

In [8]:
df=pd.read_csv('/Users/masashi-ijichi/Downloads/06-classwork/countries.csv')

In [9]:
df.head()

               country   continent  life_expectancy  population           gdp
0          Afghanistan        Asia           54.863    22856302   15153728226
1              Albania      Europe           74.200     3071856   12886435920
2              Algeria      Africa           68.963    30533827  155661450046
3               Angola      Africa           45.234    13926373   34063908358
4  Antigua and Barbuda  N. America           73.544       77656     989182128

In [12]:
df.tail()

                country continent  life_expectancy  population           gdp
183             Vietnam      Asia           73.777    78758010  124201381770
184  West Bank and Gaza      Asia           70.929     3198560   24264276160
185         Yemen, Rep.      Asia           60.404    17723186   39292303362
186              Zambia    Africa           41.802    10201562   10558616670
187            Zimbabwe    Africa           43.976    12509477    9319560365

In [17]:
#series
df['life_expectancy']

0      54.863
1      74.200
2      68.963
3      45.234
4      73.544
        ...
183    73.777
184    70.929
185    60.404
186    41.802
187    43.976
Name: life_expectancy, Length: 188, dtype: float64

In [25]:
df.sort_values('life_expectancy',ascending=False)

,country,continent,life_expectancy,population,gdp
83,Japan,Asia,81.350,125720310,3590446333290
72,"Hong Kong, China",Asia,80.361,6783317,203309577124
161,Switzerland,Europe,79.990,7167908,246475684488
7,Australia,Oceania,79.930,19164351,560384787591
160,Sweden,Europe,79.840,8860153,253754781920
...,...,...,...,...,...
3,Angola,Africa,45.234,13926373,34063908358
187,Zimbabwe,Africa,43.976,12509477,9319560365
31,Central African Rep.,Africa,43.727,3701607,2820624534
186,Zambia,Africa,41.802,10201562,10558616670
147,Sierra Leone,Africa,38.123,4143115,2141990455

In [29]:
df[['country','life_expectancy']].head()

    country  life_expectancy
160  Sweden            79.84

In [41]:
df.query('life_expectancy>75 and continent=="Asia"')

              country continent  life_expectancy  population            gdp
83              Japan      Asia           81.350   125720310  3590446333290
72   Hong Kong, China      Asia           80.361     6783317   203309577124
80             Israel      Asia           78.750     6014953   137345436802
148         Singapore      Asia           78.340     3919300   144363496200
100      Macao, China      Asia           77.627      431867     9722189904
135             Qatar      Asia           76.680      590957    35690257058
89        Korea, Rep.      Asia           76.114    45987624   781559669880
163            Taiwan      Asia           76.020    22183000   521855075000
23             Brunei      Asia           75.927      327036    15704268720

In [57]:
df[(df['life_expectancy']>75)&(df['continent'] == "Asia")]

,country,continent,life_expectancy,population,gdp,gdp_percapita
83,Japan,Asia,81.350,125720310,3590446333290,28559.0
72,"Hong Kong, China",Asia,80.361,6783317,203309577124,29972.0
80,Israel,Asia,78.750,6014953,137345436802,22834.0
148,Singapore,Asia,78.340,3919300,144363496200,36834.0
100,"Macao, China",Asia,77.627,431867,9722189904,22512.0
135,Qatar,Asia,76.680,590957,35690257058,60394.0
89,"Korea, Rep.",Asia,76.114,45987624,781559669880,16995.0
163,Taiwan,Asia,76.020,22183000,521855075000,23525.0
23,Brunei,Asia,75.927,327036,15704268720,48020.0

In [58]:
df[df['continent'] == "Asia"]

,country,continent,life_expectancy,population,gdp,gdp_percapita
83,Japan,Asia,81.350,125720310,3590446333290,28559.0
72,"Hong Kong, China",Asia,80.361,6783317,203309577124,29972.0
80,Israel,Asia,78.750,6014953,137345436802,22834.0
148,Singapore,Asia,78.340,3919300,144363496200,36834.0
100,"Macao, China",Asia,77.627,431867,9722189904,22512.0
135,Qatar,Asia,76.680,590957,35690257058,60394.0
89,"Korea, Rep.",Asia,76.114,45987624,781559669880,16995.0
163,Taiwan,Asia,76.020,22183000,521855075000,23525.0
23,Brunei,Asia,75.927,327036,15704268720,48020.0
11,Bahrain,Asia,74.497,638193,14049818895,22015.0
94,Lebanon,Asia,74.409,3742329,21686796555,5795.0
176,United Arab Emirates,Asia,74.163,3033491,91041131892,30012.0
183,Vietnam,Asia,73.777,78758010,124201381770,1577.0
162,Syria,Asia,73.316,15988534,62914881290,3935.0
90,Kuwait,Asia,73.133,1940786,70638788042,36397.0
104,Malaysia,Asia,72.810,23414909,237918890349,10161.0
143,Saudi Arabia,Asia,72.401,20045276,400925565276,20001.0
126,Oman,Asia,72.139,2264163,43480986252,19204.0
34,China,Asia,72.124,1269116737,4323880722959,3407.0
84,Jordan,Asia,71.724,4827096,17686479744,3664.0
156,Sri Lanka,Asia,71.078,18745084,56179016748,2997.0
184,West Bank and Gaza,Asia,70.929,3198560,24264276160,7586.0
166,Thailand,Asia,70.921,63155029,352278751762,5578.0
78,Iraq,Asia,70.845,23857458,94260816558,3951.0
172,Turkey,Asia,70.010,63627862,432860345186,6803.0
77,Iran,Asia,69.611,65342319,561943943400,8600.0
105,Maldives,Asia,69.279,273236,938019188,3433.0
76,Indonesia,Asia,67.289,213395411,579155145454,2714.0
180,Uzbekistan,Asia,66.999,24775610,40508122350,1635.0
132,Philippines,Asia,66.774,77309965,200851289070,2598.0
91,Kyrgyzstan,Asia,66.232,4954850,7566055950,1527.0
137,Russia,Asia,65.380,146757517,1257711920690,8570.0
12,Bangladesh,Asia,65.309,129592275,139311695625,1075.0
88,"Korea, Dem. Rep.",Asia,65.271,22894095,38668126455,1689.0
173,Turkmenistan,Asia,63.925,4501419,14805167091,3289.0
127,Pakistan,Asia,63.854,144522192,301473292512,2086.0
164,Tajikistan,Asia,63.570,6172807,6178979807,1001.0
85,Kazakhstan,Asia,63.513,14956694,80257620004,5366.0
113,Mongolia,Asia,62.876,2411369,4863731273,2017.0
75,India,Asia,62.129,1053898107,1736824080336,1648.0
117,Myanmar,Asia,62.073,44957660,46486220440,1034.0
119,Nepal,Asia,62.055,24400606,25718238724,1054.0
27,Cambodia,Asia,62.030,12446949,12222903918,982.0
92,Laos,Asia,61.689,5317060,8071297080,1518.0
185,"Yemen, Rep.",Asia,60.404,17723186,39292303362,2217.0
18,Bhutan,Asia,60.307,571262,1669227564,2922.0
167,Timor-Leste,Asia,59.468,830089,2276934127,2743.0
0,Afghanistan,Asia,54.863,22856302,15153728226,663.0

In [59]:
df['life_expectancy'].describe()

count    188.000000
mean      66.501536
std       10.298458
min       38.123000
25%       59.663750
50%       70.041500
75%       74.134500
max       81.350000
Name: life_expectancy, dtype: float64

In [60]:
df[['gdp','life_expectancy']].corr()

                      gdp  life_expectancy
gdp              1.000000         0.209858
life_expectancy  0.209858         1.000000

In [61]:
df['gdp_percapita']=df['gdp']/df['population']

In [62]:
df[['gdp_percapita','life_expectancy']].corr()

                 gdp_percapita  life_expectancy
gdp_percapita         1.000000         0.629438
life_expectancy       0.629438         1.000000

In [63]:
df

,country,continent,life_expectancy,population,gdp,gdp_percapita
83,Japan,Asia,81.350,125720310,3590446333290,28559.0
72,"Hong Kong, China",Asia,80.361,6783317,203309577124,29972.0
161,Switzerland,Europe,79.990,7167908,246475684488,34386.0
7,Australia,Oceania,79.930,19164351,560384787591,29241.0
160,Sweden,Europe,79.840,8860153,253754781920,28640.0
...,...,...,...,...,...,...
3,Angola,Africa,45.234,13926373,34063908358,2446.0
187,Zimbabwe,Africa,43.976,12509477,9319560365,745.0
31,Central African Rep.,Africa,43.727,3701607,2820624534,762.0
186,Zambia,Africa,41.802,10201562,10558616670,1035.0
147,Sierra Leone,Africa,38.123,4143115,2141990455,517.0

In [64]:
#df
#filters
#groupby
#column
#math
df.groupby('continent')['life_expectancy'].median().reset_index()

    continent  life_expectancy
0      Africa          52.1025
1        Asia          70.4275
2      Europe          75.5800
3  N. America          70.5765
4     Oceania          67.4955
5  S. America          70.7660

In [65]:
south_america_df=df[df['continent']=='S. America']
south_america_df.head(2)

,country,continent,life_expectancy,population,gdp,gdp_percapita
33,Chile,S. America,77.010,15419820,160905821700,10435.0
179,Uruguay,S. America,74.777,3319066,30176948072,9092.0

In [66]:
#south_america_df['population']=0

In [67]:
df['continent'].value_counts()

continent
Africa        54
Asia          48
Europe        42
N. America    22
S. America    12
Oceania       10
Name: count, dtype: int64

In [72]:
url='https://www.theguardian.com/football/laligafootball/table'
tables=pd.read_html(url)
len(tables)
df=tables[0]

In [ ]:
df.to_csv('laliga.csv',index=False)

In [80]:
import requests
url='http://api.weatherapi.com/v1/forecast.json?key=1deea713c0524e4abd621042220711&q=London&days=3&aqi=yes&alerts=no'
response=requests.get(url)
data=response.json()
data
pd.json_normalize(data['forecast']['forecastday'])
#pd.json_normalize(data)

,date,date_epoch,hour,day.maxtemp_c,day.maxtemp_f,day.mintemp_c,day.mintemp_f,day.avgtemp_c,day.avgtemp_f,day.maxwind_mph,...,day.condition.code,day.uv,astro.sunrise,astro.sunset,astro.moonrise,astro.moonset,astro.moon_phase,astro.moon_illumination,astro.is_moon_up,astro.is_sun_up
0,2024-06-12,1718150400,"[{'time_epoch': 1718146800, 'time': '2024-06-1...",15.9,60.7,7.7,45.8,12.3,54.1,7.4,...,1063,3.0,04:43 AM,09:18 PM,10:45 AM,01:03 AM,Waxing Crescent,29,1,0
1,2024-06-13,1718236800,"[{'time_epoch': 1718233200, 'time': '2024-06-1...",15.8,60.5,8.4,47.0,12.2,54.0,14.3,...,1063,4.0,04:43 AM,09:19 PM,11:57 AM,01:15 AM,Waxing Crescent,38,1,0
2,2024-06-14,1718323200,"[{'time_epoch': 1718319600, 'time': '2024-06-1...",18.7,65.6,11.9,53.5,14.6,58.3,15.2,...,1063,6.0,04:42 AM,09:19 PM,01:07 PM,01:26 AM,First Quarter,48,1,0